@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #4f46e5;
  --primary-light: #eef2ff;
  --secondary-color: #10b981;
  --secondary-light: #ecfdf5;
  --accent-color: #f59e0b;
  --accent-light: #fffbeb;
  --text-dark: #1f2937;
  --text-medium: #4b5563;
  --text-light: #9ca3af;
  --background-light: #f9fafb;
  --border-color: #e5e7eb;
  --success-color: #10b981;
  --danger-color: #ef4444;
  --warning-color: #f59e0b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--background-light);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
